# Get directors and actors information through scraper

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os

In [2]:
# Set the base URL and agent
base_url = "https://www.themoviedb.org/"
user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.76 Safari/537.36"
headers = { 'User-Agent' : user_agent }

In [3]:
# load top movies csv data
topMovies = pd.read_csv('data/rawTopMovies.csv', encoding = 'utf-8') #utf-8: show foreign characters
topMovies.head()

,id,title,original_title,overview,release_date,original_language,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,hi,9.1,1971
1,278,The Shawshank Redemption,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,en,8.6,12087
2,238,The Godfather,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,en,8.6,9258
3,372058,Your Name.,君の名は。,High schoolers Mitsuha and Taki are complete s...,2016-08-26,ja,8.6,3542
4,424,Schindler's List,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,en,8.5,7265

In [5]:
# This function is used for extract person information given the person page on TMDB
def extractPersonInfo(personlink, movieID):
    personUrl = base_url + personlink
    
    personInfo = dict.fromkeys(['ID', 'Name', 'Gender', 'Birthday', 'Place of Birth', 'Movie ID'])
    personInfo['Movie ID'] = movieID
#     The personlink includes person ID
    personInfo['ID'] = personlink.replace('/person/', '').split('-')[0]
    
    personPage = BeautifulSoup(requests.get(personUrl, headers=headers).text, "html.parser")
    
    personInfo['Name'] = personPage.find('div', {'class': 'title'}).find('a').text.strip('\n')
    
    infoLists = personPage.find('section', {'class': 'facts left_column'}).find_all('p')
    for info in infoLists:
        if (info.find('bdi')):
            bdi = info.find('bdi').text
            if bdi in personInfo:
                personInfo[bdi] = info.text.replace(bdi, '').strip()
    return personInfo

#### Start get information from the webpage

In [6]:
directors = []
actors = []

movieBaseUrl = base_url + 'movie/'

# Get movie ID from the top movies download through TMDB API
for movieID in topMovies['id']:
    moviePageUrl = movieBaseUrl + str(movieID)
    moviePage = BeautifulSoup(requests.get(moviePageUrl, headers=headers).text, "html.parser")
#     Get directors' information
    crews = moviePage.find('div', {"class": "header_info"}).find_all('li')
    directorLinks = [crew.find(href = True)['href'] \
                 for crew in crews if 'Director' in crew.find('p', {"class": "character"}).text]
    directors += [extractPersonInfo(directorLink, movieID) for directorLink in directorLinks]
#     Get Top Billed Cast information
    billCast = moviePage.find('section', {'class': 'panel top_billed scroller'}).find_all('li', {'class': 'card'})
    actorLinks = [actor.find(href = True)['href'] for actor in billCast]
    actors += [extractPersonInfo(actorLink, movieID) for actorLink in actorLinks]

In [7]:
directorsDataFrame = pd.DataFrame(directors, columns=['ID', 'Name', 'Gender', 'Birthday', 'Place of Birth', 'Movie ID'])
directorsDataFrame.head()

,ID,Name,Gender,Birthday,Place of Birth,Movie ID
0,35771,Aditya Chopra,-,1971-05-21,-,19404
1,4027,Frank Darabont,Male,1959-01-28,"Montbéliard, Doubs, France",278
2,1776,Francis Ford Coppola,Male,1939-04-07,"Detroit, Michigan, USA",238
3,74091,Makoto Shinkai,Male,1973-02-09,"Nagano Prefecture, Japan",372058
4,488,Steven Spielberg,Male,1946-12-18,Cincinnati - Ohio - USA,424

In [8]:
actorsDataFrame = pd.DataFrame(actors, columns=['ID', 'Name', 'Gender', 'Birthday', 'Place of Birth', 'Movie ID'])
actorsDataFrame.head()

,ID,Name,Gender,Birthday,Place of Birth,Movie ID
0,35742,Shah Rukh Khan,Male,1965-11-02,"New Delhi, Delhi, India",19404
1,55061,Kajol,Female,1974-08-05,"Mumbai, Maharashtra, India",19404
2,691,Amrish Puri,Male,1932-06-22,"Jalandhar, Punjab, India",19404
3,6217,Anupam Kher,Male,1955-03-07,"Shimla, Himachal Pradesh, India",19404
4,35759,Satish Shah,Male,1951-06-25,"Bombay, India",19404

#### Save raw data

In [4]:
# Prepare the file we will write into
current_dir = os.getcwd()
if not os.path.exists(os.path.join(current_dir, 'data')):
    os.makedirs(os.path.join(current_dir, 'data'))

In [17]:
directorsDataFrame.to_csv('data/rawDirectors.csv', encoding='utf-8', index=False)
actorsDataFrame.to_csv('data/rawActors.csv', encoding='utf-8', index=False)

#### Data cleaning and auditing on directorsDataFrame and actorsDataFrame

##### Find missing data

In [10]:
directorsDataFrame.replace(['-'], [None], inplace=True)
directorsDataFrame[directorsDataFrame.isnull().any(axis=1)]

,ID,Name,Gender,Birthday,Place of Birth,Movie ID
0,35771,Aditya Chopra,None,1971-05-21,None,19404
5,59918,Rodney Rothman,Male,None,None,324857
6,936670,Bob Persichetti,Male,None,None,324857
7,151007,Peter Ramsey,Male,None,"Baldwin Hills, California, Stati Uniti",324857
29,567374,Carl Tibbetts,Male,None,None,374430
36,95456,Elio Petri,None,1929-01-29,"Rome, Italy",26451
38,42274,Nick Hurran,Male,None,"London, England, United Kingdom",313106
44,70235,Marco Tullio Giordana,None,1950-10-01,"Milano, Italy",11659
45,32375,Mario Monicelli,None,1915-05-15,"Viareggio, Lucca, Tuscany, Italy",20914
46,1624330,Benjamin Caron,Male,None,None,432517
50,1809042,Esteban Bravo,Male,None,None,455661
51,1809041,Beth David,Female,None,None,455661
61,57641,Dino Risi,None,1916-12-23,Milano (Italy),24188
71,32375,Mario Monicelli,None,1915-05-15,"Viareggio, Lucca, Tuscany, Italy",24382
75,1072778,Naoko Yamada,None,1984-11-28,"Prefettura di Kyoto, Giappone",378064
88,32245,Arturo Brachetti,None,1957-10-13,None,38288
96,8012,Alan Barillaro,None,None,None,399106
105,1491168,James Payne,None,None,None,282848
144,32245,Arturo Brachetti,None,1957-10-13,None,160885
155,1042010,Nitesh Tiwari,Male,None,"Itarsi, Madhya Pradesh, India",360814
163,8020,John Kahrs,None,1967-01-01,"Cornwall, Stato di New York, Stati Uniti",140420
171,27436,Costa-Gavras,None,1933-02-12,"Loutra-Iraias, Greece",2721
200,930567,Enrico Casarosa,None,None,None,83564
218,1276373,Michael Gracey,Male,None,"Melbourne, Australia",316029
222,1141683,Theodore Melfi,Male,None,"Brooklyn, New York, USA",381284
228,1609917,Houda Benyamina,None,None,None,393729
234,120018,Massimo Venier,Male,None,None,38286
238,1364881,Patrick Osborne,Male,None,"Cincinnati, Ohio, USA",293299
243,72036,Susan Johnson,Female,1970-12-18,None,466282
249,152111,Douglas Mackinnon,Male,None,None,379170
...,...,...,...,...,...,...
698,24882,Jacques Demy,None,1931-06-05,"Pontchâteau, Loire-Atlantique, France",2433
706,46295,Marie-Castille Mention-Schaar,Female,1963-01-26,None,303483
707,1053420,Josh Boone,Male,None,None,222935
713,143014,Mischa Kamp,None,None,None,244063
718,2009739,Domee Shi,Female,None,"Chongqing, China",514754
721,56033,Enzo Barboni,None,1922-07-10,Rome - Lazio - Italy,9394
734,144590,Lee Jeong-beom,Male,1971-09-21,None,51608
737,1414,Gorô Miyazaki,Male,None,None,83389
745,57027,Louis D'Esposito,Male,None,None,211387
750,120018,Massimo Venier,Male,None,None,50531
754,56660,Lorna Cook,Female,None,None,9023
757,71506,Rémi Bezançon,None,None,None,12169
762,77926,Masayuki,Male,1961-01-03,None,15137
769,148455,Ziad Doueiri,Male,None,Lebanon,468284
784,34920,Curt Geda,Male,None,None,16234
791,8965,Roland Joffé,None,1945-11-17,"London, England, UK",625
801,1084905,Keishi Otomo,Male,1966-05-06,None,221731
802,61677,Burny Mattinson,None,None,None,14813
817,553375,Sean Cisterna,None,None,None,440596
819,563586,Eric Barbier,None,None,None,432616
820,31898,Luciano Salce,None,1922-09-25,None,37769
822,930707,Colin Trevorrow,Male,1976-09-13,None,382614
831,82335,Richard Glatzer,None,None,None,284293
835,129879,Kim Chapiron,None,1980-07-04,"Paris, France",43920
837,101666,Paul King,Male,None,None,346648
838,1314015,Sydney Sibilia,None,1981-11-19,"Salerno, Campania, Italy",406385
839,35270,Eric Radomski,Male,None,None,14919
840,34934,Bruce Timm,Male,1961-02-05,None,14919
841,7883,Ralph Eggleston,Male,None,None,13930
843,76882,Cy Endfield,None,1914-11-10,"Scranton, Pennsylvania, USA",14433

In [11]:
actorsDataFrame.replace(['-'], [None], inplace=True)
actorsDataFrame[actorsDataFrame.isnull().any(axis=1)]

,ID,Name,Gender,Birthday,Place of Birth,Movie ID
13,3086,Richard S. Castellano,None,1933-09-04,"The Bronx, New York, U.S",238
24,6693,Jonathan Sagall,None,1959-04-23,"Toronto, Ontario, Canada",424
29,226366,Brian Tyree Henry,Male,None,None,324857
35,19587,Rumi Hiiragi,None,1987-08-01,"Tokyo, Japan",129
39,19594,Yumi Tamai,None,None,None,129
49,9238,Amerigo Fontani,None,1955-06-15,"Florence, italy",637
85,77927,Megumi Ogata,None,None,None,18491
87,77931,Kotono Mitsuishi,Female,1967-12-08,None,18491
89,77934,Fumihiko Tachiki,None,None,None,18491
112,11478,Lorraine Bracco,None,1954-10-02,Bay Ridge - Brooklyn - New York City - New Yor...,769
118,299743,Sebastian Maniscalco,Male,None,None,490132
136,781,Paul Reiser,Male,1957-03-30,None,244786
138,970216,Austin Stowell,Male,1984-12-24,None,244786
143,13855,Al Ernest Garcia,Male,1887-03-11,None,901
150,76975,Rentarô Mikuni,None,1923-01-20,"Gunma, Japan",14537
161,14029,Reginald Gardiner,Male,1903-02-27,None,914
166,585373,Gianni Santuccio,None,None,None,26451
168,235572,Orazio Orlando,Male,1937-06-14,None,26451
186,20338,Akihiro Miwa,None,None,None,4935
190,8596,Leandro Firmino,Male,1978-06-23,None,598
192,8598,Douglas Silva,Male,1989-09-27,None,598
199,622,Yōji Matsuda,None,None,None,128
202,20332,小林薰,Male,1951-09-04,None,128
207,70234,Sonia Bergamasco,None,1966-01-16,"Milano, Italy",11659
208,35106,Fabrizio Gifuni,None,1966-06-15,Roma - Italy,11659
212,24599,Duilio Del Prete,None,1938-06-25,"Cuneo, Italy",20914
217,1237956,Sian Brooke,Female,None,None,432517
223,93252,Kim Hae-sook,Female,1955-12-30,None,290098
226,34376,Nobuo Kaneko,Male,1923-03-27,None,3782
227,34377,Bokuzen Hidari,None,None,None,3782
...,...,...,...,...,...,...
3737,1084910,Emi Takei,None,1993-12-25,Nagoya - Japan,221731
3781,35743,Jaya Bachchan,Female,1948-04-09,None,10757
3788,1780411,Sareum Srey Moch,None,None,None,433247
3789,1363126,Phoeung Kompheak,None,None,None,433247
3790,1732840,Sveng Socheata,None,None,None,433247
3791,1892522,Mun Kimhak,None,None,None,433247
3792,1892523,Heng Dara,None,None,None,433247
3795,35106,Fabrizio Gifuni,None,1966-06-15,Roma - Italy,244088
3807,1029632,Maurizio Tesei,Male,None,"Roma, Italy",364433
3810,1231763,Chantal Kreviazuk,Female,None,None,440596
3822,583853,Finnegan Oldfield,Male,None,None,432616
3824,99793,Liù Bosisio,None,1936-01-30,"Milan, Italy",37769
3838,15069,David Emge,None,1946-01-01,None,923
3840,15071,Scott H. Reiniger,Male,1948-09-05,None,923
3841,15072,Gaylen Ross,Female,1950-08-15,None,923
3842,15073,David Crawford,None,None,None,923
3845,129960,Fumi Hirano,None,1955-04-23,"Suginami, Tokyo, Japan",198375
3846,1124542,Takeshi Maeda,None,None,None,198375
3847,1247771,Yuka Terasaki,Female,None,None,198375
3852,49506,Walter Ladengast,Male,1899-07-04,None,6404
3865,6907,Annie Corley,Female,None,None,688
3871,137924,John Thaw,Male,1942-01-03,None,10435
3892,1405970,Park Jeong-Woo,None,None,None,11658
3893,108534,Adam Butcher,Male,1988-10-20,None,43920
3895,133918,Mateo Morales,None,None,None,43920
3896,1332726,Taylor Poulin,None,None,None,43920
3897,133919,Slim Twig,None,None,None,43920
3907,1304661,Madeleine Harris,None,None,None,346648
3910,1024806,Stefano Fresi,None,1974-07-16,"Rome, Italy",406385
3918,7883,Ralph Eggleston,Male,None,None,13930

##### Remove rows with missing data

In [12]:
# Remove rows with None value
directorsDataFrame.dropna(inplace=True)
actorsDataFrame.dropna(inplace=True)

In [13]:
directorsDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 734 entries, 1 to 844
Data columns (total 6 columns):
ID                734 non-null object
Name              734 non-null object
Gender            734 non-null object
Birthday          734 non-null object
Place of Birth    734 non-null object
Movie ID          734 non-null int64
dtypes: int64(1), object(5)
memory usage: 40.1+ KB

In [14]:
actorsDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3243 entries, 0 to 3933
Data columns (total 6 columns):
ID                3243 non-null object
Name              3243 non-null object
Gender            3243 non-null object
Birthday          3243 non-null object
Place of Birth    3243 non-null object
Movie ID          3243 non-null int64
dtypes: int64(1), object(5)
memory usage: 177.4+ KB

#### Save processed data

In [16]:
directorsDataFrame.to_csv('data/Directors.csv', encoding='utf-8',index=False)
actorsDataFrame.to_csv('data/Actors.csv', encoding='utf-8', index=False)